p.truckName {{dashboard.truckName}} is

div(ng-if="dashboard.open")
  h2 Open
div(ng-if="dashboard.moving")
  h2 Moving
div(ng-if="dashboard.closed")
  h2 Closed

div(ng-if="dashboard.open")
  div#truck
    img(src="build/truck.svg")
    div.wheel.wheel1
      img(src="build/wheel.svg")
    div.wheel.wheel2
      img(src="build/wheel.svg")
    div.bubble
      div.heart
  div#map_canvas
    ng-map(center="{{dashboard.coord}}")
      marker(position="{{dashboard.coord}}")
div(ng-if="dashboard.moving")
  div#truck.bounce
    img(src="build/truck.svg")
    div.wheel.wheel1.rotate
      img(src="build/wheel.svg")
    div.wheel.wheel2.rotate
      img(src="build/wheel.svg")
div(ng-if="dashboard.closed")
  div#truck
    div.wheel.wheel1
    div.wheel.wheel2
    div.bubble
      div.z.z1
      div.z.z2
      div.z.z3

div(ng-if="dashboard.isAdmin" class="navbar navbar-default")
  a(href="/#/admin") Admin
