p.truckName {{dashboard.truckName}} is

div(ng-if="dashboard.open")
  h1.bg-success Open!
div(ng-if="dashboard.moving")
  h1.bg-warning Moving
div(ng-if="dashboard.closed")
  h1.bg-danger Closed :(

div(ng-if="dashboard.open")
  div#truck
    img.truck(src="build/truck-open.svg")
    img.window.slide(src="build/window.svg")
    div.person.walk.bounceWalk
      img(src="build/person.svg")
    div.wheel.wheel1  
      img(src="build/wheel.svg")
    div.wheel.wheel2
      img(src="build/wheel.svg")
  div#map_canvas
    ng-map(center="{{dashboard.coord}}")
      marker(position="{{dashboard.coord}}")
      
div(ng-if="dashboard.moving")
  div#truck.bounce
    img(src="build/truck.svg")
    div.wheel.wheel1.rotate
      img(src="build/wheel.svg")
    div.wheel.wheel2.rotate
      img(src="build/wheel.svg")
      
div(ng-if="dashboard.closed")
  div#truck
    img(src="build/truck.svg")
    div.wheel.wheel1
      img(src="build/wheel.svg")
    div.wheel.wheel2
      img(src="build/wheel.svg")
