h1 Rewards Page
p Sign up for rewards!
p #{username}
form#adduser()
  input(type="text" name="username")
  input(type="password" name="password")
  br
  button#fire(type="submit") Sign Up    

h1 Log In
p Log in to access your rewards!
form#login()
  input(type="text" name="username")
  input(type="password" name="password")
  br
  button#access(type="submit") Log In
