doctype html
html(ng-app="FoodTruckApp")
  head
    title= title
    link(rel='stylesheet', href='/build/css/app.min.css')
    script(src="http://maps.google.com/maps/api/js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
  body
    header
      nav.navbar.navbar-default
        ul.nav.navbar-nav
          li.navItem.truck.col-xs-4.active
            a(href="/#/") Truck
          //li.navItem.menu.col-xs-4
            //a(href="/#/menu") Our Menu
          li.navItem.rewards.col-xs-4
            a(href="/#/rewards") Rewards
    block content
    script(src="/build/js/app.min.js")
