/* TRUCK ANIMATION */

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotate {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes bounce {
  0% {
    top:-1px;
  }
  25% {
    top:0px;
  }
  50% {
    top:1px;
  }
  75% {
    top:0px;
  }
}

.bounce {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: .3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  position: absolute;
}

.bounceWalk {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: .1s;
  -webkit-animation-timing-function: linear;
  position: absolute;
}

@-webkit-keyframes slide {
  0% {
    left: 0%;
  }
  25% {
    left: -2%;
  }
  50% {
    left: -4%;
  }
  75% {
    left:-14%;
  }
}

.slide {
  -webkit-animation-name: slide;
  -webkit-animation-duration: .9s;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes walk {
  0% {
    left: 40%;
  }
  100% {
    left: 35%;
  }
}

.walk {
  -webkit-animation-name: walk;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
}

#truck {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  height: 100%;
  display: block;
  position: relative;
}

#truck img {
  width: 100%;
}

#truck img.truck {
  z-index: 1;
  position: relative;
}

#truck img.window {
  position: absolute;
  left: -14%;
  z-index: 1;
}

.person {
  position: absolute;
  top: 35%;
  left: 35%;
  z-index: 0;
  width: 13%;
}

.wheel {
  width: 18%;
  display: block;
  position: absolute;
  z-index: 1;
}

.wheel1 {
  left: 17%;
  bottom: 10%;
}

.wheel2 {
  right: 15.4%;
  bottom: 10%;
}

/* BODY */

body {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}

/* NAVIGATION */

.nav {
  width: 100%;
  margin: 0;
}

.nav li {
  text-align: center;
  padding: 0;
}

.navbar {
    min-height: 30px;
}

div#adminBar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-bottom: 0px;
}

body {
  margin-bottom: 40px;
}

p.truckName {
  text-align: center;
  margin: 1px;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  margin: 1px;
  text-align: center;
}

div.rewards {
  width: 80%;
  max-width: 400px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  margin: 0 auto;
  padding: 2%;
}

h2.rewardAmount {
    width: 80px;
    margin: 0 auto;
    padding: 24px 0px;
}

h3 {
  margin: 1px;
  text-align: center;
}

#map_canvas {
  width: 80%;
  margin: 0 auto;
  max-width: 400px;
}

.btn-spacer .btn {
  margin-bottom: 10px;
}

.logOut {
    margin: 3px auto 0;
    display: block;
    position: absolute;
    right: 14px;
    top: 12px;
}

.redeem {
  margin-top: 10px;
}

.redeem .glyphicon::before {
  position: absolute;
  left: -18px;
  top: 1px;
}

.checkin .glyphicon {
  margin-left: 15px;
}
