/* TRUCK ANIMATION */

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotate {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes bounce {
  0% {
    top:-1px;
  }
  25% {
    top:0px;
  }
  50% {
    top:1px;
  }
  75% {
    top:0px;
  }
}

.bounce {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: .3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  position: absolute;
}

#truck {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  height: 100%;
  display: block;
  position: relative;
}

#truck img {
  width: 100%;
}

.wheel {
  width: 18%;
  display: block;
  position: absolute;
}

.wheel1 {
  left: 17%;
  bottom: 10%;
}

.wheel2 {
  right: 15.4%;
  bottom: 10%;
}

/* NAVIGATION */

.navbar {
  min-height: 0;
  background: #00BDD6;
}

.navbar a {
  width: 33.33%;
  float: left;
  text-align: center;
  padding: 5px;
  transition: all, .2s, ease;
  color: #111;
  text-decoration: none;
}

.navbar a.active {
  background: rgba(255,255,255,.5);
}

div#adminBar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-bottom: 0px;
}

body {
  margin-bottom: 40px;
}

p.truckName {
  text-align: center;
  margin: 1px;
}

h2 {
  text-transform: uppercase;
  margin: 1px;
  text-align: center;
}

div.rewards {
  width: 80%;
  max-width: 400px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  margin: 0 auto;
  padding: 2%;
}

h2.rewardAmount {
    width: 80px;
    margin: 0 auto;
    padding: 24px 0px;
}

h3 {
  margin: 1px;
  text-align: center;
}

#map_canvas {
  width: 80%;
  margin: 0 auto;
  max-width: 400px;
}
